{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
<!-- {{ form.hidden_tag() }} -->
{% block body %}
<!-- <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
          </ul>
        </div>
      </div>
    </nav> -->
<head>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/s/dt/jqc-1.11.3,dt-1.10.10,fh-3.1.0/datatables.min.css"/>

<style>

.draft {
  width: none;
}

.tablesorter>thead>tr>th {
  padding: 1px 4px 1px 4px;
}

.col-sm-6 {
  float: right;
}

.col-lg-1 {
    width: 12.5%;
    padding-left: 2px;
    padding-right: 2px;
}

body, option, .form-control {
  font-size: 12px;
}
.drafting-team {
  border: 10px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th, .table>tr>td {
  padding: 1px 4px 1px 4px;
}
.hideme {
    display: none;
}
</style>



<script src="https://cdn.datatables.net/s/dt/jqc-1.11.3,dt-1.10.10,fh-3.1.0/datatables.min.js"></script>
<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.10/js/dataTables.bootstrap.min.js"></script> -->

<script type="text/javascript" src="/static/scripts/jquery.tablesorter.js"></script>
</head>

<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script src="static/scripts/main.js"></script>
<script>

$(document).ready(function() {
    $('#avail-players').DataTable({
      // "fixedHeader": {
      //   'header': true
      // },
      "paging":   false,
      "aaSorting": [1,'desc'],
      'info': false
    });

    $('#draft-order').DataTable({
      // "fixedHeader": {
      //   'header': true
      // },
      "paging":   false,
      'searching': false,
      'info': false
    });
  }
);
</script>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 main">
      <form class="form-group" method="POST" action="/draft">

      <h4 class="page-header">Current pick(s)</h4>

      <div class="row">
        <div class="col-md-12 main">

            {{ form.select_team.label }} {{ form.select_team(class_="form-control") }}


          </br>
                {% if pick %}
          <table class="table table-striped">
          <tr>
            <td>{{ players.loc[pick]['name'] }}</td>
            <td>{{ players.loc[pick]['rating'] }}</td>
            <td>{{ players.loc[pick]['gender'] }}</td>
          </tr>
          {% if not players.loc[pick]['baggage'] == ' '%}
          <tr>
            <td>{{ players.loc[players['name']==players.loc[pick]['baggage']]['name'].values[0] }}</a></td>
            <td>{{ players.loc[players['name']==players.loc[pick]['baggage']].rating.values[0] }}</td>
            <td>{{ players.loc[players['name']==players.loc[pick]['baggage']].gender.values[0] }}</td>
          </tr>
          {% endif %}
        </table>
        {% endif %}
          {% if pick %}
            {{ form.player(value=pick) }}

            {{ form.submit(class_="form-control") }}
          {% endif %}
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-3 main">
    <h4 class="page-header">Draft Order</h3>
      <table id="draft-order" class="table table-striped">
        <thead>
          <tr>
            <td><em>Name</em></td>
            <td><em>T</em></td>
            <td><em>W</em></td>
            <td><em>M</em></td>
          </tr>
        </thead>
        <tbody>
          {% for team in all_teams %}
          <tr>
            <td>{{all_teams[team].team_name}}</td>
            <td>{{all_teams[team].total}}</td>
            <td>{{all_teams[team].womens_total}}</td>
            <td>{{all_teams[team].mens_total}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
  <div class="col-md-3 main">
    <h4 class="page-header">Draft Order</h3>
      {{logic}}
    </div>
</div>
  <div class="row">

    <div class="col-md-2 main">
      <h4 class="page-header">Available players</h4>
      <div style="height:400px;" class="table-responsive">
        <table id="avail-players" class="tablesorter table table-striped">
          <thead>
            <tr>
                <th>Name</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
          <!-- <tr>
              <th>Name</th>
              <th>Rtg</th>
              <th>Sex</th>
              <th>Bag</th>
          </tr> -->
          </thead>
          <tbody>
            {% for player in players[players.team.isnull()].index %}
            <tr>
              <td><a href="{{player}}">{{ players.loc[player]['name'] }}</a></td>
              <td>{{ players.loc[player]['rating'] }}</td>
              <td>{{ players.loc[player]['gender'] }}</td>
              <td>{{ players.loc[player]['baggage'] }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-10 main drafting-team">
      {% for team in all_teams %}
      <div class="col-lg-1 main drafting-team">


      <h4 class="page-header">{{all_teams[team].team_name}}</h4>

      <table class="table table-striped">
        <thead>
          <tr>
            <td><em>T</em></td>
            <td><em>W</em></td>
            <td><em>M</em></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{all_teams[team].total}}</td>
            <td>{{all_teams[team].womens_total}}</td>
            <td>{{all_teams[team].mens_total}}</td>
          </tr>
        </tbody>
      </table>

      <h5 class="page-header">Males</h5>
      <div class="table-responsive">
        <table class="table table-striped">
          <tbody>
            {% for player in all_teams[team].roster %}
            {% if all_teams[team].roster[player]['gender'] == 'M' %}
            <tr>
              <td>{{ all_teams[team].roster[player]['name'] }}</td>
              <td>{{ all_teams[team].roster[player]['rating'] }}</td>
              <td>{{ all_teams[team].roster[player]['gender'] }}</td>
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
      <h5 class="page-header">Females</h5>
      <div class="table-responsive">
        <table class="table table-striped">
          <tbody>
            {% for player in all_teams[team].roster %}
            {% if all_teams[team].roster[player]['gender'] == 'F' %}
            <tr>
              <td>{{ all_teams[team].roster[player]['name'] }}</td>
              <td>{{ all_teams[team].roster[player]['rating'] }}</td>
              <td>{{ all_teams[team].roster[player]['gender'] }}</td>
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
      {% endfor %}
    </div>


</div>


{% endblock %}
